In [39]:
# import all library
import pandas as pd
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier

In [40]:
demand=pd.read_csv("labels.csv")

In [41]:
demand.head()
# get me first 5 row

                               filepath               label
0   train/Cabbage__Black_Rot/aug_64.jpg  Cabbage__Black_Rot
1   train/Cabbage__Black_Rot/aug_11.jpg  Cabbage__Black_Rot
2    train/Cabbage__Black_Rot/aug_4.jpg  Cabbage__Black_Rot
3  train/Cabbage__Black_Rot/orig_49.jpg  Cabbage__Black_Rot
4  train/Cabbage__Black_Rot/orig_69.jpg  Cabbage__Black_Rot

In [42]:
demand.head(10) 
# get me first 10 row

                               filepath               label
0   train/Cabbage__Black_Rot/aug_64.jpg  Cabbage__Black_Rot
1   train/Cabbage__Black_Rot/aug_11.jpg  Cabbage__Black_Rot
2    train/Cabbage__Black_Rot/aug_4.jpg  Cabbage__Black_Rot
3  train/Cabbage__Black_Rot/orig_49.jpg  Cabbage__Black_Rot
4  train/Cabbage__Black_Rot/orig_69.jpg  Cabbage__Black_Rot
5   train/Cabbage__Black_Rot/aug_79.jpg  Cabbage__Black_Rot
6   train/Cabbage__Black_Rot/aug_43.jpg  Cabbage__Black_Rot
7  train/Cabbage__Black_Rot/orig_55.jpg  Cabbage__Black_Rot
8  train/Cabbage__Black_Rot/orig_72.jpg  Cabbage__Black_Rot
9  train/Cabbage__Black_Rot/orig_26.jpg  Cabbage__Black_Rot

In [43]:
demand.tail() 
# and this can take parameter
# get me rows in last

,filepath,label
84518,test/Cabbage__Bacterial_spot_rot/orig_24.jpg,Cabbage__Bacterial_spot_rot
84519,test/Cabbage__Bacterial_spot_rot/orig_80.jpg,Cabbage__Bacterial_spot_rot
84520,test/Cabbage__Bacterial_spot_rot/orig_115.jpg,Cabbage__Bacterial_spot_rot
84521,test/Cabbage__Bacterial_spot_rot/aug_2.jpg,Cabbage__Bacterial_spot_rot
84522,0,0

In [44]:
demand.shape
# (num of rows , num of column)

(84523, 2)

In [45]:
demand.info()
# Column - Non-Null Count - Dtype

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84523 entries, 0 to 84522
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   filepath  84523 non-null  object
 1   label     84523 non-null  object
dtypes: object(2)
memory usage: 1.3+ MB

In [46]:
demand.info
# summary of Dataset

<bound method DataFrame.info of                                             filepath  \
0                train/Cabbage__Black_Rot/aug_64.jpg
1                train/Cabbage__Black_Rot/aug_11.jpg
2                 train/Cabbage__Black_Rot/aug_4.jpg
3               train/Cabbage__Black_Rot/orig_49.jpg
4               train/Cabbage__Black_Rot/orig_69.jpg
...                                              ...
84518   test/Cabbage__Bacterial_spot_rot/orig_24.jpg
84519   test/Cabbage__Bacterial_spot_rot/orig_80.jpg
84520  test/Cabbage__Bacterial_spot_rot/orig_115.jpg
84521     test/Cabbage__Bacterial_spot_rot/aug_2.jpg
84522                                              0

                             label
0               Cabbage__Black_Rot
1               Cabbage__Black_Rot
2               Cabbage__Black_Rot
3               Cabbage__Black_Rot
4               Cabbage__Black_Rot
...                            ...
84518  Cabbage__Bacterial_spot_rot
84519  Cabbage__Bacterial_spot_rot
84520  Cabbage__Bacterial_spot_rot
84521  Cabbage__Bacterial_spot_rot
84522                            0

[84523 rows x 2 columns]>

In [49]:
#preproccessing
demand.isnull().sum()

filepath    0
label       0
dtype: int64